{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="section">
        <h4 class="display-6" style="color:#ff5722;">{{ subject.name }}</h4>
        <div class="divider"></div>
    </div>

    <div class="row g-0">

      <div class="col-lg-3">
            <ul class="collection with-header">
              <li class="collection-header"><h4 class="display-6" >Classroom</h4></li>
              <a href="{% url 'classroom:course' slug=subject.slug  subject_id=subject.id %}" class="collection-item active">Home</a>
              <a href="{% url 'classroom:modules' slug=subject.slug  subject_id=subject.id %}" class="collection-item">Module</a>
              <a href="{% url 'classroom:submissions' slug=subject.slug  subject_id=subject.id %}" class="collection-item">Submissions</a>
              <a href="{% url 'classroom:questions' slug=subject.slug  subject_id=subject.id %}" class="collection-item">Questions</a>
              <a href="{% url 'classroom:lesson_list'  slug=subject.slug subject_id=subject.id %}" class="collection-item">Extra Content</a>


              {% if user.is_tutor %}
                <li class="collection-header"><h4 class="display-6" >Teacher</h4></li>
                <a href="{% url 'classroom:student-submissions' slug=subject.slug  subject_id=subject.id %}" class="collection-item">Student Submissions</a>
              {% endif %}

            </ul>
      </div>

        <div class="col-lg-9 gx-5">

          {% if user.is_tutor %}
            <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
          {% endif %}

          <div class="section">
            <h4 class="display-6">Recent announcements</h4>
            <div class="divider"></div>
          </div>

            <div>

            </div>

            {{ subject.description | safe }}

        </div>

    </div>
    <div>


    </div>
  </div>
<div class="pb-5"></div>
<div class="pb-5"></div>


{% endblock %}