{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <div class="container pb-5">
        <section id="best-features" class="text-center">
            <h2 class=" my-5 display-6"  style="color:#ff5722;">Update {{lessons.name}}</h2>
            <!-- class row for description-->
            <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate hic provident nulla repellat facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis est sit pariatur.</p>
                </div>
            </div>
        </section>


        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
            <div class="pt-4">
                <input type="submit" class="btn btn-warning px-4" value="Update">
                <a href="{% url 'classroom:lesson_detail' classroom=lessons.Classroom.slug subject=lessons.subject.slug slug=lessons.slug %}" class="btn btn-danger px-4 mx-2">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}