/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

footer {
  background: #2a2e32;
  clear: both;
}
