{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container pb-5 pt-5">
  <div class="section">
      <h4 class="display-6" style="color:#ff5722;">{{ page.title }}</h4>
      <div class="divider"></div>
  </div>

  <div class="row">

  <div class="col-lg-12">
    {{ page.content | safe }}
  </div>

  <div class="col-lg-12 pt-4">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Files</h4></li>
      {% for file in page.files.all %}
        <li class="collection-item"><div>{{ file.get_file_name }}<a class="secondary-content" href="{{ file.file.url }}" download>
          <i class="material-icons">download</i></a></div>
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if completed != True %}
  <div class="col-lg-12 center-align pt-3">
    <a class="btn-large" href="{% url 'classroom:mark-page-as-done' slug=subject.slug subject_id=subject_id module_id=module_id page_id=page.id %}"><i class="material-icons">done</i>Mark as done</a>
  </div>
  {% endif %}

  </div>
</div>

{% endblock %}