{% extends 'base.html' %}

{% block content %}
    <div class="">
         <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-4 fw-bold" style="color:#ff5722;">Providing guidance to you</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">We've all been there: you just start a new programming project and suddenly realize that what you need is a tutor for that specific language, and then it dawns on you: "I have no idea where to find one." That's why we created GuruFinder! We provide tutors that would guide you throughout your programming needs. Join us today!</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <a href="{% url 'accounts:signup' %}" class="btn btn-warning btn-lg px-4 gap-3" role="button">GET STARTED</a>
              </div>
            </div>
         </div>
   </div>
  <div class="container team4">
    <div class="">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h1 class="nino-sectionHeading">
            <span class="nino-subHeading">An introduction</span>
              What is Gurufinder
          </h1>
          <p class="nino-sectionDesc"> Gurufinder is a project that brings Students and Tutors together! </p>
        </div>
      </div>
    <div class="row">
      <!-- column  -->
      <div class="col-lg-1 mb-4">

      </div>
      <div class="col-lg-2 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/static/css/dudz.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h7 class="mt-4 font-weight-medium mb-0">Dudz Panaligan</h7>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <div class="col-lg-2 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/static/css/jenau.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h7 class="mt-4 font-weight-medium mb-0">Jenau Muchada</h7>
<!--              <h6 class="subtitle mb-3">Property Specialist</h6>-->
              <!--<p>You can relay on our amazing features list and also our customer services will be great experience.</p>-->
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-2 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/static/css/fev.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h7 class="mt-4 font-weight-medium mb-0">Princess Fev Claud</h7>
<!--              <h6 class="subtitle mb-3">Property Specialist</h6>-->
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-2 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/static/css/lim.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h7 class="mt-4 font-weight-medium mb-0">Evander Lim</h7>
<!--              <h6 class="subtitle mb-3">Property Specialist</h6>-->
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      <!-- column  -->
      <!-- column  -->
      <div class="col-lg-2 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
            <img src="/static/css/kent.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h7 class="mt-4 font-weight-medium mb-0">Reinhard Kent Demakiling</h7>
<!--              <h6 class="subtitle mb-3">Property Specialist</h6>-->
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
    </div>
  </div>
</div>
{% endblock %}