{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div role="main" class="container">
    <div class="row">
      <div class="px-4 py-5 my-5">
        <div class="col-lg-6 mx-auto">
          <div class="content-section">
            <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color:#ff5722;">Log In</legend>
                {{ form|crispy }}
                <button class="btn btn-warning mt-4 mb-3" type="submit">Login</button>

              </fieldset>
            </form>
            <div class="border-top pt-2">
              <small class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'accounts:signup' %}">Sign Up Now</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}